
        <div id="page-intro">
            <h2>Dispatchers</h2>
            <p>The dispatchers spawn RPC instances and provide relevant statistics.<br/>
                This interface allows you to "Attach" to (see the output of), pause, resume and shutdown instances.
            </p>

            <form action="/dispatchers/edit" method="get">
                <input type="submit" value="Edit dispatchers" />
            </form>
        </div>

        <%= erb :flash, {:layout => false} %>

        <div style="display: none" id="dialog_log" title="Log">
            <div id="log_progress"></div>
            <pre id="log"></pre>
        </div>

        <% i = 0 %>
        <% stats.each_pair do |d_url, dispatcher_stats| %>
        <h2><%=show_dispatcher_line( dispatcher_stats )%></h2>
        <span class="notice"> <%=show_dispatcher_node_line( dispatcher_stats ) %></span>

        <br/><br/>


        <% if !dispatcher_stats['neighbours'].empty? %>
        <div style="display: none" id="dialog_neighbours_<%=i%>" title="Neighbours">
            <ul>
            <% dispatcher_stats['neighbours'].each do |neighbour| %>
            <li><%=neighbour%></li>
            <%end%>
            </ul>
        </div>

        <form style='display: inline' action="#" onsubmit="showDialog( '#dialog_neighbours_<%=i%>' ); return;" >
            <input type="submit" value="Show neighbours" />
        </form>
        <%end%>

        <form style='display: inline' action="#" onsubmit="showLog( '<%=remove_proto( d_url.dup )%>' ); return;" >
            <input type="submit" value="Show log" />
        </form>

        <% i += 1 %>

        <%if !dispatcher_stats['running_jobs'].empty? %>
        <form style='display: inline' onsubmit="return confirm( 'Are you sure that you want to kill all running instances?' )" action="/dispatchers/<%=remove_proto( d_url.dup )%>/shutdown_all" method="post">
            <%= csrf_tag %>
            <input type="submit" value="Shutdown all" />
        </form>
        <%end%>

        <% if !dispatcher_stats['running_jobs'].empty? %>
        <table>
            <tr>
                <th>PID</th>
                <th>Port</th>
                <th>Owner</th>
                <th>State</th>
                <th>Progress</th>
                <th>Start time (Server-side)</th>
                <th>Current time (Server-side)</th>
                <th>Runtime</th>
                <th>Memory usage (%)</th>
                <th>CPU usage</th>
                <th>Action</th>
            </tr>
        <% dispatcher_stats['running_jobs'].each do |job| %>
            <tr <%if job_is_slave?( job )%> style='background-color: #ccc'<%end%> >


                <td><%=job['pid']%></td>
                <td><%=job['port']%></td>
                <td><%=escape( job['owner'] )%></td>

                <td><%=job['status']%></td>
                <td><%=job['progress']%>%</td>

                <td><%=job['starttime'].to_time%></td>
                <td><%=job['currtime'].to_time%></td>
                <td><%=secs_to_hms( job['runtime'] )%></td>
                <td><%=proc_mem( job['proc']['rss'] )%> MB (<%=job['proc']['pctmem']%>%)</td>
                <td><%=job['proc']['pctcpu']%>%</td>

                <td>
                    <% if !( job['owner'] =~/WebUI helper/ )%>

                        <% if !job_is_slave?( job ) %>

                            <% status = ( job['status'] ? job['status'].downcase : '' ) %>
                            <form style="display: inline" action="/instance/<%=job['url']%>" method="get" target="_blank">
                                <input type="submit" value="Attach" />
                            </form>

                            <%if status == 'busy' %>
                            <form style="display: inline" action="/dispatchers/<%=job['url']%>/pause" method="post">
                                <%= csrf_tag %>
                                <input type="submit" value="Pause" />
                            </form>
                            <%end%>

                            <%if status == 'paused' %>
                            <form style="display: inline" action="/dispatchers/<%=job['url']%>/resume" method="post">
                                <%= csrf_tag %>
                                <input type="submit" value="Resume" />
                            </form>
                            <% end %>

                            <form style="display: inline" action="/dispatchers/<%=job['url']%>/shutdown" method="post">
                                <%= csrf_tag %>
                                <input type="submit" value="Shutdown" />
                            </form>

                        <% else %>

                            This is <%=escape( job['owner'] )%>'s slave and is sharing the workload for the <%=escape( job['helpers']['target'] )%> scan.

                        <% end %>

                    <% end %>
                </td>
            </tr>
        <% end %>
        </table>
        <% else %>
        <br/><br/>
        <span class="notice"> There are no running scans at the moment.</span>
        <% end %>

        <br/><br/>

        <% end %>

            <script type="text/javascript">
                //<![CDATA[

                function showLog( url ) {
                    var log_url = "/dispatchers/" + url + "/log.json";

                    document.getElementById( 'log' ).innerHTML = 'Loading...';
                    $( '#dialog_log' ).dialog({
                        height: 500,
                        width: 800,
                        modal: true
                    });

                    document.getElementById( "log_progress" ).style.display = 'block';
                    $( "#log_progress" ).progressbar({
                        value: 100
                    });

                    $.getJSON( log_url, function(data) {
                        elem = document.getElementById( 'log' )
                        if ( data.error ) {
                            elem.innerHTML = "Error: " + data.error + "\n\n"
                            elem.innerHTML += "Backtrace: " + data.backtrace
                        } else {
                            elem.innerHTML = data.log;
                        }

                        document.getElementById( "log_progress" ).style.display = 'none';
                    });
                }

                function showDialog( id ){
                    $( id ).dialog({
                        height: 350,
                        width: 300,
                        modal: true
                    });
                }
             //]]>
            </script>
